@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html, body {
    direction: rtl;
    text-align: right;
    background-color: #f8fafc; /* یک رنگ پس‌زمینه ملایم و مدرن */
  }
}